<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="ISO-8859-1">
<title>Groups</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.css"
	media="screen,projection" />

<link type="text/css" rel="stylesheet" href="css/customcss.css"/>

</head>
<body>
<div th:include="components/header"> </div>
	<a href="index">index</a>
	<div th:each="group : ${atribute}">
	
		<a th:href="@{/group-{id} (id = ${group.id}) }" th:text="${group.name}"></a>
		<p th:text="${group.linkDiscord}">
		
		<div th:if="${group.block}">
  		<p>Group blocked!</p>
  		<p><a th:href="@{/unblockGroup/{id} (id = ${group.id}) }">Unblock</a>
		</div>
		<div th:unless="${group.block}">
  		<p>Group active!</p>
  		<p><a th:href="@{/blockGroup/{id} (id = ${group.id}) }">Block</a>
		</div>
		
	</div>

</body>
</html>