<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="ISO-8859-1">
<title>Groups</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.css"
	media="screen,projection" />

<link type="text/css" rel="stylesheet" href="css/customcss.css"/>
<link rel="stylesheet" type="text/css" th:href="@{css/customcss.css}" />
</head>
<body>
<div th:include="components/header"> </div>

	<div class = "container">
		<h2>Details from group</h2>

		<div class="row">
			<p>
				Name: <span th:text="${group.name}"></span>
			</p>
			<p>
				Link: <span th:text="${group.linkDiscord}"></span>
			</p>
			<p>
				Members: 
				<ul class="collection" th:each ="v:${group.members}">
				
					<li class="collection-item avatar">
						<span  class="title" th:text =${v.name}></span>
						<p th:text="${v.phone}">
		
    				</li>
 				</ul>
	</div>
		<h3>Add new member to this group!</h3>
		
		<form method="post">
			Member's name: <input type="text" value="" name="name" /> 
			phone: <input type="text" value="" name="phone" />

			<button class="waves-effect waves-light btn" type="submit">Save</button>
			
		</form>
	<div th:text="${result}"></div>
</div>
</body>
</html>